body {
    margin: 0px;
}

nav {
    text-align: center;
    border-bottom: 1px solid #00000012;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px -1px black;
    background: #b2e0fd;
}

nav > h1#title {
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 20px;
}

nav > button {
    width: 100px;
    border-radius: 5px;
    height: 20px;
    margin: 0px 5px;
}


.overlay {
    height: calc(100vh - 89px);
    padding: 25px 10% 25px;
}


html {
    overflow: hidden;
}


h3 {
    margin-top: 0px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: -15px;
}





html {
    overflow: hidden;
}


h5 {
    text-align: center;
    font-family: sans-serif;
}


button#happyBtn:hover {
    background-color: #ffd65d;
}

button#happyBtn {
    box-shadow: 2px 2px 6px -2px;
    background-color: #ff9800cf;
}


button#sadBtn:hover {
    background-color: #ffd65d;
}

button#sadBtn {
    background-color: #ff9800cf;
    box-shadow: 2px 2px 6px -2px;
}


h1#title {
    font-family: futura;
    font-weight: 100;
    letter-spacing: 2px;
}
/*         HEADER           */


img#featImg {
    text-align: center;
    margin: auto;
}

.currSongInfo {
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}

h6.currArtist {
    margin: 5px;
}

h4.currTitle {
    margin: 20px 0px -5px;
}


span.songTitle {}


/* bad! */

ul.trackHolder {
    list-style: none;
    margin: 0px;
    padding: 5px 30px 20px;
}

li.track {
    font-family: sans-serif;
    margin: 7px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
}


li.track:last-child() {
    margin: 5px 0px;
    padding: 5px 0px;
    border-bottom: 0px solid #dedede;
}

.button-wrapper {
    text-align: center;
    /* box-shadow: 0px 0px 6px -1px black; */
    border-top: 1px solid #00000021;
    padding-top: 20px;
}

button#shuf {
    display: none;
}

/* bad! */

ul.trackHolder {
    list-style: none;
    margin: 0px;
    padding: 5px 30px 20px;
}

li.track {
    font-family: sans-serif;
    margin: 7px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
}


.track:last-child {
    margin: 5px 0px;
    padding: 5px 0px;
    border-bottom: 0px solid #dedede;
}

.button-wrapper {
    text-align: center;
    /* box-shadow: 0px 0px 6px -1px black; */
    border-top: 1px solid #00000021;
    padding-top: 20px;
}

button#shuf {
    display: none;
}

/* li.track {
    overflow: hidden;
    text-overflow: ellipsis;
}
 */

li.track span,a {
    font-weight: 100;
    letter-spacing: 1px;
}

h4.currTitle {
    font-family: sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

h6.currArtist {
    font-family: sans-serif;
    font-weight: 500;
}

.button-wrapper > img {
    width: 25px;
    margin: 0px 10px;
}

.temp {
    height: 36px !important;
    position:relative;
    top:3px;




}
