<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cookie Confectionary Home</title>
  </head>
  <body>


    <form class="" action="/sugar" method="post">
        <label>Sugar (<%= sugar %>) </label> | <button type="submit" name="button">Add</button>
    </form>

    <form class="" action="/chocolate" method="post">
        <label>Chocolate (<%= chocolate %>)</label> | <button type="submit" name="button">Add</button>
    </form>

    <form class="" action="/lemon" method="post">
        <label>Lemon (<%= lemon %>)</label> | <button type="submit" name="button">Add</button>
    </form>

    <form class="" action="/clear" method="post">
        <button type="submit">Clear</button>
    </form>

  </body>
</html>
