h1 {
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 100px;
}

h2 {
  text-align: center;
font-size: 30px;
text-transform: uppercase;
font-family: sans-serif;
font-weight: 100;
letter-spacing: 5px;
}

h4 {
  float: left;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0px 10px;
}

h5 {
  float: left;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0px 10px 0px 0px;
}

button {
  float: left;
  font-family: sans-serif;
  font-weight: 100;
}

span {
  float: left;
  font-family: sans-serif;
  font-weight: 100;
  margin-left: 10px;
}



.bodyWrap {
    padding: 20px;
}

/* #player {
  width: 75%;
  margin: 20px 12.5%;
  border: 1px solid grey;
} */


.songWrap {
  width: 100%;
  height: 150px;
}

#floatOpts {
  display: none;
}
.song {
  border-bottom: 1px solid #00000026;
  padding: 15px 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #90a9e2;
  cursor: pointer;
}

#songInfo {
  width: 100%;
}


ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin:0;
}

.player {
  width: calc(100% - 10px);
box-shadow: 0px 1px 17px -4px #0000008a;
position: absolute;
top: 0px;
left: 0px;
display: block;
    padding: 20px;
}


.queue {
  float:right;
}

.inlinePlay {
  float:right;
  
}
