<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <form class="" action="/login" method="post">
      <label>Username:</label> <input type="text" name="username">
      <label>Password:</label> <input type="password" name="password">
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>
