<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>










      <h1>Add</h1>
      <form class="add" action="/addShoe" method="post">

      <input type="text" name="name" value="">
      <input type="text" name="material" value="">
      <input type="number" name="size" value="">
      <input type="text" name="color" value="">
      <input type="number" name="qty" value="">
      <button type="submit" name="button">submit</button>

      </form>

  </body>
</html>
