<nav style="width:100%;clear:both; height:40px;border-bottom:1px solid grey">
  <div class="logo" style="float:left">
    <h4 style="margin:0px;">JFD</h4>
  </div>
  <div class="links" style="float:right">
    <a href="#">home</a>
    <a href="#">products</a>
    <a href="#">services</a>
  </div>
</nav>
