body {
  width: 80%;
  margin: 0 auto;
  font-family: arial;
  color: grey;
}

.logo {
  float: left;
  width: 25%;
}

nav {
 float: right;
 padding-top: 5%;
 font-size: 30px;

}

li {
  display: inline-block;

}


a {
  text-decoration: none;
  color: grey;
}

.anvil {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.column-left, .column-right {
  float: left;
  width: 45%;
}

.column-right {
  margin-left: 10%;
}

@media (max-width:880px) {
  .logo {
    display: block;
    float: none;
    width: 55%;
  }
  nav {
    
  }
  .anvil {
    display: none;
  }
}

/* T R B L --- Top right bottom left*/
